<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
</head>
<body>
    <h1> My Favorite Comics</h1>

    <img id="comicImage" src="<%= randomComic[0].comicUrl %>" width="800"><br>
    <span id=""comicName"> <%= randomComic[0].comicSiteName %> </span>
    <br>
    <button> Random Comic </button>

    <script>
        document.querySelector("button").addEventListener("click",displayRandomComic);

        async function displayRandomComic(){
            let url = "/api/randomComic";
            let response = await fetch(url);
            let data = await response.json();
            document.querySelector("#comicImage").src = data[0].comicUrl;
            document.querySelector("#comicName").textContent = data[0].comicSiteName;
        }

    </script>
</body>
</html>