<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comics</title>
</head>
<body>
    <h1> My Favorite Comics</h1>

    <img src="<%= randomComic[0].comicUrl %>" width="800"><br>
    <span> <%= randomComic[0].comicSiteName %> </span>
    <br>
    <button> Random Comic </button>
</body>
</html>